<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       [routerLink]="['/']">Recipe Book</a>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             [routerLink]="['/recipes']">Recipes</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             [routerLink]="['/shopping-list']">Shopping List</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div class="nav-item dropdown"
             rbDropdown>
          <a class="nav-link dropdown-toggle"
             id="navbarDropdownMenuLink"
             aria-haspopup="true"
             aria-expanded="false">
              Recipe Management
            </a>
          <div class="dropdown-menu"
               aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"
               (click)="onStore()">Store recipes</a>
            <a class="dropdown-item"
               (click)="onFetch()">Retrieve recipes</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
