<div class="row">
  <img src="{{selectedRecipe?.imagePath}}" alt="selected recipe image" class="img-fluid col">
</div>
<div class="row">
  <h1 class="col text-center">{{selectedRecipe?.name}}</h1>
  <div class="d-flex justify-content-around col">
    <button class="btn btn-success">To shopping list</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <p class="col">{{selectedRecipe?.description}}</p>
</div>
<div class="row">
  <div class="col">Ingedients</div>
</div>
