<div class="row">
  <div class="col">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" id="item-name" class="form-control" required>
        </div>
        <div class="col-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text" id="item-amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success" type="submit">Submit</button>
          <button class="btn btn-danger" type="danger">Delete item</button>
          <button class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
